#location1{
	padding: 3px 3px;
}
#location2{
	padding: 8px 16px;
}
body{
	background-color: yellow;
}
#order_form{
	text-align: center;
}
#abcd{
	width: 87%;
}
.btn-warning {
	background-color: #E88E0C;	
}
.fa-location-arrow {
	color: #fff;
}